.git
.env
.env.backup
.env.production
node_modules
vendor
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
.phpunit.cache
.idea
.vscode
.fleet
.nova
.zed
tests
phpunit.xml
Thumbs.db
.DS_Store
*.log
